// slot
#include "inttypes.h"

typedef struct {
	float max;
	float min;
	float offset;
	uint8_t size;
	char unit [];
} schemacan_slot_t;

// generated data slots
{{ range . }}
schemacan_slot_t test = {
	{{ .Spec.Max }},
	{{ .Min }},
	{{ .Offset }},
	{{ .Size }},
	"{{ .Unit }}"
};
{{ end }}